export('simFromData')
export('simFromParam')
export('quickPower')
export('plotFDC')
export('plotPower')
export('plotTDR')
exportClasses("est_out")
exportClasses("cypress_out")
exportMethods("show")
export(setcypress)
export(getcypress)
exportMethods("getcypress", "setcypress")

import('dplyr')
import('TOAST')

#import('mvtnorm')
#import('sirt')
#import('lubridate')
#import('BiocParallel')
#import('abind')
#import('SummarizedExperiment')
#import('parallel')

#import('TCA')
#importFrom('TOAST',"mvrnorm")

importFrom('mvtnorm',"dmvnorm")
importFrom('sirt',"dirichlet.mle","dirichlet.simul")
importFrom('lubridate',"Date")
importFrom('BiocParallel',"bplapply", "bpparam")
importFrom('SummarizedExperiment',"colData","assay")

importFrom('abind',"abind")
importFrom('parallel',"mclapply")
importFrom('TCA',"tca", "tensor")
importFrom('preprocessCore','normalize.quantiles')
importFrom('tibble','rownames_to_column')
importFrom('e1071',"svm")
importFrom('PROPER',"estParam")
importFrom('edgeR',"DGEList", "estimateTagwiseDisp", "estimateCommonDisp","estimateTrendedDisp")
importFrom("methods", "new","validObject","show", "slot","slotNames","setGeneric","is", "slot<-")
importFrom("checkmate", "assertString")
importFrom("stats", "cor", "median", "quantile", "rgamma", "rnorm", "rpois", "sd","cov")
importFrom("utils", "head","data")
importFrom('RColorBrewer','brewer.pal')
importFrom('graphics','matplot','axis','legend','par')





