export('simFromData')
export('simFromParam')
export('quickPower')
export('plotFDC')
export('plotPower')
export('plotTDR')

# importFrom('sirt','dirichlet.mle')
import('sirt')
#import('gtools')
import('lubridate')
importFrom('MASS',"mvrnorm")
import('dplyr')
import('TOAST')
import('BiocParallel')
import('abind')
importFrom('tibble','rownames_to_column')
import('e1071')
import('parallel')
importFrom('preprocessCore','normalize.quantiles')
import('SummarizedExperiment')
# importFrom('TCA', "tca")
# importFrom('TCA', "tensor")
#bzip from save
import('TCA')
import('PROPER')
import('edgeR')
# importFrom("stats", "cov")
import("methods")
#import("stats")
importFrom("methods", "new")
importFrom("stats", "cor", "median", "quantile", "rgamma", "rnorm", "rpois", "sd","cov")
importFrom("utils", "head","data")
importFrom("Biobase", "exprs")
# import("BiocGenerics")
# import("RUnit")
# imply dependencies
importFrom('RColorBrewer','brewer.pal')
importFrom('graphics','matplot','axis','legend','par')
