export('simFromData')
export('simFromParam')
export('quickPower')
export('plotFDC')
export('plotPower')
export('plotTDR')

exportClasses("est_out")
exportClasses("cypress_out")
exportMethods("show")
export(setcypress)
export(getcypress)
exportMethods("getcypress", "setcypress")
import('mvtnorm')
import('sirt')
import('lubridate')
importFrom('MASS',"mvrnorm")
import('dplyr')
import('TOAST')
import('BiocParallel')
import('abind')
importFrom('tibble','rownames_to_column')
import('e1071')
import('parallel')
importFrom('preprocessCore','normalize.quantiles')
import('SummarizedExperiment')
import('TCA')
import('PROPER')
import('edgeR')
import("methods")
importFrom("methods", "new","validObject", "slot","slotNames","setGeneric")
importFrom("checkmate", "assertString")
importFrom("stats", "cor", "median", "quantile", "rgamma", "rnorm", "rpois", "sd","cov")
importFrom("utils", "head","data")
importFrom('RColorBrewer','brewer.pal')
importFrom('graphics','matplot','axis','legend','par')





